input[type='text']{
    border: 4px solid red;
}
.class1 > p{
color: red;
}
h2 + p {
    color: aqua;
}
.class2:hover {
    background-color: red;
}
li:nth-child(3) {
background-color: blueviolet;
}
h3:not(.hihi){
    background-color: brown;
}
.class3::before{
    content: 🤣;
}
.class3::after{
    content: 🤪;
}
.class3::first-letter{
    font-size: 48px;
}